{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <h1>Заявки на ремонт</h1>

                <div align="right">
                    <a href="#" class="btn btn">[Создать]</a>
                </div>
                <br>

                <table border="1">
                    <tr>
                        <th>User_id</th>
                        <th>Дата</th>
                        <th>Тема</th>
                        <th>Описание проблемы</th>
                    </tr>
                    {% for rep_request in rep_requests %}
                        <tr>
                            <td>{{ rep_request.user.id }}</td>
                            <td>{{ rep_request.createdAt|date('Y-m-d h:m:s') }}</td>
                            <td>{{ rep_request.subj }}</td>
                            <td>{{ rep_request.description }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}